@import '../mixin';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .count {
    font-size: 72px;
    margin-bottom: 30px;
  }
}

button {
  min-width: 60px;
  margin: 0 5px;
  @include defaultButton
}

.back {
  margin-top: 10px;
}